.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  padding: .75rem;
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brand);
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: var(--red-dark);
  }

  &:active {
    box-shadow: inset 0 0 0 2px var(--red-dark);
  }

  &:focus {
    outline: 2px solid var(--blue);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--grey-light);
    cursor: default;
    pointer-events: none;
  }

  &::before,
  &::after {
    display: block;
  }

  &--large {
    padding: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.23;
  }

  &--small {
    padding: .5rem;
    font-size: 0.875rem;
    line-height: 1.15;
  }

  &--block {
    width: 100%;
  }

  &--secondary {
    color: var(--brand);
    background-color: var(--white);
    box-shadow: inset 0 0 0 2px var(--grey-light);

    &:hover {
      color: var(--red-dark);
      background-color: inherit;
      box-shadow: inset 0 0 0 2px var(--red-dark);
    }

    &:active {
      color: var(--red-dark);
      background-color: var(--red-light);
      box-shadow: inset 0 0 0 2px var(--red-dark);
    }

    &:disabled {
      color: var(--grey-light);
      background-color: inherit;

      &:hover {
        box-shadow: inset 0 0 0 2px var(--grey-light);
      }
    }
  }

  &--tertiary {
    color: var(--brand);
    background-color: var(--white);
    box-shadow: none;

    &:hover {
      color: var(--red-dark);
      background-color: inherit;
      box-shadow: inherit;
    }

    &:active {
      color: var(--red-dark);
      background-color: var(--red-light);
      box-shadow: inherit;
    }

    &:disabled {
      color: var(--grey-light);
      background-color: inherit;

      &:hover {
        box-shadow: inset 0 0 0 2px var(--grey-light);
      }
    }
  }

  &--icon-left,
  &--icon-right {
    &.btn--small {

      &[class*="icon-"]::before,
      &[class*="icon-"]::after {
        --icon-size: 1rem;
      }
    }
  }

  &--icon-left {
    &::before {
      margin-right: .5rem;
      margin-left: -.125rem;
    }
  }

  &--icon-right {
    &::before {
      content: none;
    }

    &::after {
      content: '';
      margin-right: -.125rem;
      margin-left: .5rem;
    }
  }

  &__icon-only {
    justify-content: flex-start;
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;

    &::before {
      margin-right: 0.75rem;
      margin-left: 0;
    }

    &::after {
      margin-right: 0;
      margin-left: 0.75rem;
    }

    &.btn--large {
      max-width: 4rem;
      max-height: 4rem;

      &::before {
        margin-right: 1.25rem;
      }

      &::after {
        margin-left: 0.75rem;
      }
    }

    &.btn--small {
      max-width: 2rem;
      max-height: 2rem;

      &::before {
        margin-right: 0.5rem;
      }

      &::after {
        margin-left: 0.5rem;
      }
    }

    &.btn--icon-right {
      justify-content: flex-end;
    
      &.btn--large {

        &::after {
          margin-left: 1.25rem;
        }
      }
  
      &.btn--small {
  
        &::after {
          margin-left: 0.5rem;
        }
      }
    }
  }
}