.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container--fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  overflow: hidden;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.grid-row--top {
  align-items: flex-start;
}

.grid-row--bottom {
  align-items: flex-end;
}

.grid-row--middle {
  align-items: center;
}

.grid-row--left {
  justify-content: flex-start;
}

.grid-row--right {
  justify-content: flex-end;
}

.grid-row--center {
  justify-content: center;
}

.col--top {
  align-self: flex-start;
}

.col--bottom {
  align-self: flex-end;
}

.col--middle {
  align-self: center;
}

.grid-row--gutters {
  margin: -1rem;
}

.grid-row--gutters>[class^=col-],
.grid-row--gutters>[class*=" col-"],
.grid-row--gutters>.col {
  padding: 1rem;
}

.grid-row--no-gutters {
  margin: 0;
}

.grid-row--no-gutters>[class^=col-],
.grid-row--no-gutters>[class*=" col-"],
.grid-row--no-gutters>.col {
  padding: 0;
}

.col {
  flex: 1;
}

.col-1 {
  flex: 0 0 calc(100% / 12);
  width: calc(100% / 12);
  max-width: calc(100% / 12);
}

.col-offset-1:not(.col-offset-1--right) {
  margin-left: calc(100% / 12);
}

.col-offset-1--right {
  margin-right: calc(100% / 12);
}

.col-2 {
  flex: 0 0 calc(200% / 12);
  width: calc(200% / 12);
  max-width: calc(200% / 12);
}

.col-offset-2:not(.col-offset-2--right) {
  margin-left: calc(200% / 12);
}

.col-offset-2--right {
  margin-right: calc(200% / 12);
}

.col-3 {
  flex: 0 0 calc(300% / 12);
  width: calc(300% / 12);
  max-width: calc(300% / 12);
}

.col-offset-3:not(.col-offset-3--right) {
  margin-left: calc(300% / 12);
}

.col-offset-3--right {
  margin-right: calc(300% / 12);
}

.col-4 {
  flex: 0 0 calc(400% / 12);
  width: calc(400% / 12);
  max-width: calc(400% / 12);
}

.col-offset-4:not(.col-offset-4--right) {
  margin-left: calc(400% / 12);
}

.col-offset-4--right {
  margin-right: calc(400% / 12);
}

.col-5 {
  flex: 0 0 calc(500% / 12);
  width: calc(500% / 12);
  max-width: calc(500% / 12);
}

.col-offset-5:not(.col-offset-5--right) {
  margin-left: calc(500% / 12);
}

.col-offset-5--right {
  margin-right: calc(500% / 12);
}

.col-6 {
  flex: 0 0 calc(600% / 12);
  width: calc(600% / 12);
  max-width: calc(600% / 12);
}

.col-offset-6:not(.col-offset-6--right) {
  margin-left: calc(600% / 12);
}

.col-offset-6--right {
  margin-right: calc(600% / 12);
}

.col-7 {
  flex: 0 0 calc(700% / 12);
  width: calc(700% / 12);
  max-width: calc(700% / 12);
}

.col-offset-7:not(.col-offset-7--right) {
  margin-left: calc(700% / 12);
}

.col-offset-7--right {
  margin-right: calc(700% / 12);
}

.col-8 {
  flex: 0 0 calc(800% / 12);
  width: calc(800% / 12);
  max-width: calc(800% / 12);
}

.col-offset-8:not(.col-offset-8--right) {
  margin-left: calc(800% / 12);
}

.col-offset-8--right {
  margin-right: calc(800% / 12);
}

.col-9 {
  flex: 0 0 calc(900% / 12);
  width: calc(900% / 12);
  max-width: calc(900% / 12);
}

.col-offset-9:not(.col-offset-9--right) {
  margin-left: calc(900% / 12);
}

.col-offset-9--right {
  margin-right: calc(900% / 12);
}

.col-10 {
  flex: 0 0 calc(1000% / 12);
  width: calc(1000% / 12);
  max-width: calc(1000% / 12);
}

.col-offset-10:not(.col-offset-10--right) {
  margin-left: calc(1000% / 12);
}

.col-offset-10--right {
  margin-right: calc(1000% / 12);
}

.col-11 {
  flex: 0 0 calc(1100% / 12);
  width: calc(1100% / 12);
  max-width: calc(1100% / 12);
}

.col-offset-11:not(.col-offset-11--right) {
  margin-left: calc(1100% / 12);
}

.col-offset-11--right {
  margin-right: calc(1100% / 12);
}

.col-12 {
  flex: 0 0 calc(1200% / 12);
  width: calc(1200% / 12);
  max-width: calc(1200% / 12);
}

.col-offset-12:not(.col-offset-12--right) {
  margin-left: calc(1200% / 12);
}

.col-offset-12--right {
  margin-right: calc(1200% / 12);
}

// XL
@media (min-width: 1204px) {

  .container {
    max-width: 71.25rem;
    padding-right: 0;
    padding-left: 0;
  }

  .col-xl {
    flex: 1;
  }

  .col-xl-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .col-offset-xl-1:not(.col-offset-xl-1--right) {
    margin-left: calc(100% / 12);
  }

  .col-offset-xl-1--right {
    margin-right: calc(100% / 12);
  }

  .col-xl-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .col-offset-xl-2:not(.col-offset-xl-2--right) {
    margin-left: calc(200% / 12);
  }

  .col-offset-xl-2--right {
    margin-right: calc(200% / 12);
  }

  .col-xl-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .col-offset-xl-3:not(.col-offset-xl-3--right) {
    margin-left: calc(300% / 12);
  }

  .col-offset-xl-3--right {
    margin-right: calc(300% / 12);
  }

  .col-xl-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .col-offset-xl-4:not(.col-offset-xl-4--right) {
    margin-left: calc(400% / 12);
  }

  .col-offset-xl-4--right {
    margin-right: calc(400% / 12);
  }

  .col-xl-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .col-offset-xl-5:not(.col-offset-xl-5--right) {
    margin-left: calc(500% / 12);
  }

  .col-offset-xl-5--right {
    margin-right: calc(500% / 12);
  }

  .col-xl-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .col-offset-xl-6:not(.col-offset-xl-6--right) {
    margin-left: calc(600% / 12);
  }

  .col-offset-xl-6--right {
    margin-right: calc(600% / 12);
  }

  .col-xl-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .col-offset-xl-7:not(.col-offset-xl-7--right) {
    margin-left: calc(700% / 12);
  }

  .col-offset-xl-7--right {
    margin-right: calc(700% / 12);
  }

  .col-xl-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .col-offset-xl-8:not(.col-offset-xl-8--right) {
    margin-left: calc(800% / 12);
  }

  .col-offset-xl-8--right {
    margin-right: calc(800% / 12);
  }

  .col-xl-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .col-offset-xl-9:not(.col-offset-xl-9--right) {
    margin-left: calc(900% / 12);
  }

  .col-offset-xl-9--right {
    margin-right: calc(900% / 12);
  }

  .col-xl-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .col-offset-xl-10:not(.col-offset-xl-10--right) {
    margin-left: calc(1000% / 12);
  }

  .col-offset-xl-10--right {
    margin-right: calc(1000% / 12);
  }

  .col-xl-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .col-offset-xl-11:not(.col-offset-xl-11--right) {
    margin-left: calc(1100% / 12);
  }

  .col-offset-xl-11--right {
    margin-right: calc(1100% / 12);
  }

  .col-xl-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .col-offset-xl-12:not(.col-offset-xl-12--right) {
    margin-left: calc(1200% / 12);
  }

  .col-offset-xl-12--right {
    margin-right: calc(1200% / 12);
  }
}

// LG
@media (max-width: 1204px) {

  .grid-row--gutters {
    margin: -1rem;
  }

  .grid-row--gutters>[class^=col-],
  .grid-row--gutters>[class*=" col-"],
  .grid-row--gutters>.col {
    padding: 1rem;
  }

  .col-lg {
    flex: 1;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .col-offset-lg-1:not(.col-offset-lg-1--right) {
    margin-left: calc(100% / 12);
  }

  .col-offset-lg-1--right {
    margin-right: calc(100% / 12);
  }

  .col-lg-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .col-offset-lg-2:not(.col-offset-lg-2--right) {
    margin-left: calc(200% / 12);
  }

  .col-offset-lg-2--right {
    margin-right: calc(200% / 12);
  }

  .col-lg-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .col-offset-lg-3:not(.col-offset-lg-3--right) {
    margin-left: calc(300% / 12);
  }

  .col-offset-lg-3--right {
    margin-right: calc(300% / 12);
  }

  .col-lg-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .col-offset-lg-4:not(.col-offset-lg-4--right) {
    margin-left: calc(400% / 12);
  }

  .col-offset-lg-4--right {
    margin-right: calc(400% / 12);
  }

  .col-lg-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .col-offset-lg-5:not(.col-offset-lg-5--right) {
    margin-left: calc(500% / 12);
  }

  .col-offset-lg-5--right {
    margin-right: calc(500% / 12);
  }

  .col-lg-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .col-offset-lg-6:not(.col-offset-lg-6--right) {
    margin-left: calc(600% / 12);
  }

  .col-offset-lg-6--right {
    margin-right: calc(600% / 12);
  }

  .col-lg-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .col-offset-lg-7:not(.col-offset-lg-7--right) {
    margin-left: calc(700% / 12);
  }

  .col-offset-lg-7--right {
    margin-right: calc(700% / 12);
  }

  .col-lg-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .col-offset-lg-8:not(.col-offset-lg-8--right) {
    margin-left: calc(800% / 12);
  }

  .col-offset-lg-8--right {
    margin-right: calc(800% / 12);
  }

  .col-lg-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .col-offset-lg-9:not(.col-offset-lg-9--right) {
    margin-left: calc(900% / 12);
  }

  .col-offset-lg-9--right {
    margin-right: calc(900% / 12);
  }

  .col-lg-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .col-offset-lg-10:not(.col-offset-lg-10--right) {
    margin-left: calc(1000% / 12);
  }

  .col-offset-lg-10--right {
    margin-right: calc(1000% / 12);
  }

  .col-lg-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .col-offset-lg-11:not(.col-offset-lg-11--right) {
    margin-left: calc(1100% / 12);
  }

  .col-offset-lg-11--right {
    margin-right: calc(1100% / 12);
  }

  .col-lg-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .col-offset-lg-12:not(.col-offset-lg-12--right) {
    margin-left: calc(1200% / 12);
  }

  .col-offset-lg-12--right {
    margin-right: calc(1200% / 12);
  }
}

// MD
@media (max-width: 1024px) {

  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .grid-row--gutters>[class^=col-],
  .grid-row--gutters>[class*=" col-"],
  .grid-row--gutters>.col {
    padding: 0.75rem;
  }

  .col-md {
    flex: 1;
  }

  .col-md-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .col-offset-md-1:not(.col-offset-md-1--right) {
    margin-left: calc(100% / 12);
  }

  .col-offset-md-1--right {
    margin-right: calc(100% / 12);
  }

  .col-md-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .col-offset-md-2:not(.col-offset-md-2--right) {
    margin-left: calc(200% / 12);
  }

  .col-offset-md-2--right {
    margin-right: calc(200% / 12);
  }

  .col-md-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .col-offset-md-3:not(.col-offset-md-3--right) {
    margin-left: calc(300% / 12);
  }

  .col-offset-md-3--right {
    margin-right: calc(300% / 12);
  }

  .col-md-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .col-offset-md-4:not(.col-offset-md-4--right) {
    margin-left: calc(400% / 12);
  }

  .col-offset-md-4--right {
    margin-right: calc(400% / 12);
  }

  .col-md-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .col-offset-md-5:not(.col-offset-md-5--right) {
    margin-left: calc(500% / 12);
  }

  .col-offset-md-5--right {
    margin-right: calc(500% / 12);
  }

  .col-md-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .col-offset-md-6:not(.col-offset-md-6--right) {
    margin-left: calc(600% / 12);
  }

  .col-offset-md-6--right {
    margin-right: calc(600% / 12);
  }

  .col-md-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .col-offset-md-7:not(.col-offset-md-7--right) {
    margin-left: calc(700% / 12);
  }

  .col-offset-md-7--right {
    margin-right: calc(700% / 12);
  }

  .col-md-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .col-offset-md-8:not(.col-offset-md-8--right) {
    margin-left: calc(800% / 12);
  }

  .col-offset-md-8--right {
    margin-right: calc(800% / 12);
  }

  .col-md-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .col-offset-md-9:not(.col-offset-md-9--right) {
    margin-left: calc(900% / 12);
  }

  .col-offset-md-9--right {
    margin-right: calc(900% / 12);
  }

  .col-md-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .col-offset-md-10:not(.col-offset-md-10--right) {
    margin-left: calc(1000% / 12);
  }

  .col-offset-md-10--right {
    margin-right: calc(1000% / 12);
  }

  .col-md-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .col-offset-md-11:not(.col-offset-md-11--right) {
    margin-left: calc(1100% / 12);
  }

  .col-offset-md-11--right {
    margin-right: calc(1100% / 12);
  }

  .col-md-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .col-offset-md-12:not(.col-offset-md-12--right) {
    margin-left: calc(1200% / 12);
  }

  .col-offset-md-12--right {
    margin-right: calc(1200% / 12);
  }
}

// SM
@media (max-width: 768px) {

  .grid-row--gutters>[class^=col-],
  .grid-row--gutters>[class*=" col-"],
  .grid-row--gutters>.col {
    padding: 0.5rem;
  }

  .col-sm {
    flex: 1;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% / 12);
    width: calc(100% / 12);
    max-width: calc(100% / 12);
  }

  .col-offset-sm-1:not(.col-offset-sm-1--right) {
    margin-left: calc(100% / 12);
  }

  .col-offset-sm-1--right {
    margin-right: calc(100% / 12);
  }

  .col-sm-2 {
    flex: 0 0 calc(200% / 12);
    width: calc(200% / 12);
    max-width: calc(200% / 12);
  }

  .col-offset-sm-2:not(.col-offset-sm-2--right) {
    margin-left: calc(200% / 12);
  }

  .col-offset-sm-2--right {
    margin-right: calc(200% / 12);
  }

  .col-sm-3 {
    flex: 0 0 calc(300% / 12);
    width: calc(300% / 12);
    max-width: calc(300% / 12);
  }

  .col-offset-sm-3:not(.col-offset-sm-3--right) {
    margin-left: calc(300% / 12);
  }

  .col-offset-sm-3--right {
    margin-right: calc(300% / 12);
  }

  .col-sm-4 {
    flex: 0 0 calc(400% / 12);
    width: calc(400% / 12);
    max-width: calc(400% / 12);
  }

  .col-offset-sm-4:not(.col-offset-sm-4--right) {
    margin-left: calc(400% / 12);
  }

  .col-offset-sm-4--right {
    margin-right: calc(400% / 12);
  }

  .col-sm-5 {
    flex: 0 0 calc(500% / 12);
    width: calc(500% / 12);
    max-width: calc(500% / 12);
  }

  .col-offset-sm-5:not(.col-offset-sm-5--right) {
    margin-left: calc(500% / 12);
  }

  .col-offset-sm-5--right {
    margin-right: calc(500% / 12);
  }

  .col-sm-6 {
    flex: 0 0 calc(600% / 12);
    width: calc(600% / 12);
    max-width: calc(600% / 12);
  }

  .col-offset-sm-6:not(.col-offset-sm-6--right) {
    margin-left: calc(600% / 12);
  }

  .col-offset-sm-6--right {
    margin-right: calc(600% / 12);
  }

  .col-sm-7 {
    flex: 0 0 calc(700% / 12);
    width: calc(700% / 12);
    max-width: calc(700% / 12);
  }

  .col-offset-sm-7:not(.col-offset-sm-7--right) {
    margin-left: calc(700% / 12);
  }

  .col-offset-sm-7--right {
    margin-right: calc(700% / 12);
  }

  .col-sm-8 {
    flex: 0 0 calc(800% / 12);
    width: calc(800% / 12);
    max-width: calc(800% / 12);
  }

  .col-offset-sm-8:not(.col-offset-sm-8--right) {
    margin-left: calc(800% / 12);
  }

  .col-offset-sm-8--right {
    margin-right: calc(800% / 12);
  }

  .col-sm-9 {
    flex: 0 0 calc(900% / 12);
    width: calc(900% / 12);
    max-width: calc(900% / 12);
  }

  .col-offset-sm-9:not(.col-offset-sm-9--right) {
    margin-left: calc(900% / 12);
  }

  .col-offset-sm-9--right {
    margin-right: calc(900% / 12);
  }

  .col-sm-10 {
    flex: 0 0 calc(1000% / 12);
    width: calc(1000% / 12);
    max-width: calc(1000% / 12);
  }

  .col-offset-sm-10:not(.col-offset-sm-10--right) {
    margin-left: calc(1000% / 12);
  }

  .col-offset-sm-10--right {
    margin-right: calc(1000% / 12);
  }

  .col-sm-11 {
    flex: 0 0 calc(1100% / 12);
    width: calc(1100% / 12);
    max-width: calc(1100% / 12);
  }

  .col-offset-sm-11:not(.col-offset-sm-11--right) {
    margin-left: calc(1100% / 12);
  }

  .col-offset-sm-11--right {
    margin-right: calc(1100% / 12);
  }

  .col-sm-12 {
    flex: 0 0 calc(1200% / 12);
    width: calc(1200% / 12);
    max-width: calc(1200% / 12);
  }

  .col-offset-sm-12:not(.col-offset-sm-12--right) {
    margin-left: calc(1200% / 12);
  }

  .col-offset-sm-12--right {
    margin-right: calc(1200% / 12);
  }
}