.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    font: inherit;
    color: currentColor;
    background-color: #fff;
    border: 2px solid var(--grey);
    border-radius: 50%;
    transform: translateY(-0.075em);
    cursor: pointer;

    &:hover {
        border-color: var(--red-dark);
    }

    &:active,
    &:focus {
        outline: 2px solid var(--blue);
        outline-offset: -2px;
    }

    &:disabled {
        border-color: var(--grey-light);
        cursor: not-allowed;

        &::before {
            box-shadow: inset 1.5rem 1.5rem var(--grey-light);
        }

        &:active {
            outline: none;
        }
    }

    &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem var(--red);

    }

    &:checked {

        &::before {
            transform: scale(1);
        }
    }



    &-group {
        label {
            display: flex;
            gap: 0.5rem;
            width: fit-content;
            cursor: pointer;
        }

        &.isDisabled {
            label {
                color: var(--grey-light);
                cursor: not-allowed;
            }
        }
    }
}