.input {
    --padding: .75rem;
    width: 100%;
    padding: var(--padding);
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 0;

    &:hover {
        border-color: var(--grey-dark);
    }

    &:active,
    &:focus {
        outline: 2px solid var(--blue);
        outline-offset: -1px;
    }

    &:disabled {
        color: var(--grey-light);
        border-color: var(--grey-light);
        cursor: default;
        pointer-events: none;
    }

    &-group {
        width: 100%;

        &--large {
            .input-wrap {        
                &::before {
                    --padding: 1.25rem;
                }
            }
        }

        &--small {
            .input-wrap {        
                &::before {
                    --padding: .5rem;
                }
            }
        }

        label {
            display: block;
            margin-bottom: .375rem;
        }

        &.isInvalid {
            .input {
                border-color: var(--red);
            }

            .helper-text {
                color: var(--red)
            }
        }

        &.isDisabled {
            label {
                color: var(--grey-light);
            }

            .helper-text {
                color: var(--grey-light);
            }
        }
    }

    &--large {
        --padding: 1.25rem;
        font-size: 1.125rem;
        max-height: calc(4rem + 2px);
    }

    &--small {
        --padding: .5rem;
        font-size: 0.875rem;
        max-height: calc(2rem + 2px);
    }

    &-wrap {
        position: relative;

        &::before {
            --padding: .75rem;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-block: auto;
        }

        &[class*="icon-"]::before {
            background-color: var(--grey);
        }

        &.input--icon-left {

            &::before {
                content: "";
                left: var(--padding);
            }

            .input {
                padding-left: calc(var(--padding) + 1.5rem + 0.5rem);
            }
        }

        &.input--icon-right {
            &::before {
                content: "";
                right: var(--padding);
            }

            .input {
                padding-right: calc(var(--padding) + 1.5rem + 0.5rem);
            }
        }
    }

    &-bottom-infos {
        display: flex;
        justify-content: space-between;

        .word-count {
            margin-top: .375rem;
            margin-left: auto;
            font-size: .875rem;
            color: var(--grey);
        }
    }
}

textarea {
    &.input {
        &--large {
            max-height: initial;
        }

        &--small {
            max-height: initial;
        }
    }
}