:root {
    --red: #E30613;
    --red-dark: #B91818;
    --red-light: #FED2D5;
    --blue: #00B5F7;
    --blue-dark: #005796;
    --blue-light: #D1EDFF;
    --purple: #A187F5;
    --purple-dark: #A187F5;
    --purple-light: #EDE8FF;
    --green: #2BC94D;
    --green-dark: #008C38;
    --green-light: #E5F5AD;
    --yellow: #FFD100;
    --yellow-dark: #F06E00;
    --yellow-light: #FFF582;
    --grey: #848484;
    --grey-dark: #4B4B4B;
    --grey-light: #D9D9D9;
    --grey-extralight: #F2F2F2;
    --white: #fff;
    --black: #000;

    --brand: var(--red);
    --text: var(--black);
}