@font-face {
    font-family: 'AnekLatin';
    src: url('../fonts/AnekLatin-VariableFont.woff2') format('woff2') tech('variations'),
        url('../fonts/AnekLatin-VariableFont.woff2') format('woff2-variations');
    font-weight: 400 700;
    font-stretch: 100;
}

@font-face {
    font-family: 'HelveticaNow';
    src: url('../fonts/HelveticaNowVar.woff2') format('woff2') tech('variations'),
        url('../fonts/HelveticaNowVar.woff2') format('woff2-variations');
    font-weight: 400 700;
    font-stretch: 100;
}

:root {
    --text-font: "HelveticaNow", sans-serif;
    --heading-font: "AnekLatin", sans-serif;
}

body {
    font-family: "HelveticaNow", sans-serif;
}

.display-1,
.display-2 {
    font-family: 'AnekLatin', sans-serif;
}

.display-1 {
    font-size: 5rem;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        font-size: 3rem;
    }
}

.display-2 {
    font-size: 3rem;
    font-weight: normal;

    @media screen and (max-width: 768px) {
        font-size: 2.25rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 700;
    line-height: 1.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: 'AnekLatin', sans-serif;
}

h5,
.h5,
h6,
.h6 {
    font-family: 'HelveticaNow', sans-serif;
}

h1,
.h1 {
    font-size: 3rem;

    @media screen and (max-width: 768px) {
        font-size: 2.25rem;
    }
}

h2,
.h2 {
    font-size: 2.25rem;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: 1.875rem;

    @media screen and (max-width: 768px) {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: 1.375rem;

    @media screen and (max-width: 768px) {
        font-size: 1.1875rem;
    }
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: .875rem;
}