[class*="icon-"] {

    &::before,
    &::after {
        flex: 0 0 auto;
        display: inline-block;
        vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
        background-color: currentColor;
        width: var(--icon-size);
        height: var(--icon-size);
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        --icon-size: 1.5rem;
    }

    &::before {
        content: '';
    }
}

// Arrows
.icon-arrow-change::before,
.icon-arrow-change::after {
    -webkit-mask-image: url("../icons/arrows/arrow-change.svg");
    mask-image: url("../icons/arrows/arrow-change.svg");
}

.icon-arrow-circle-down::before,
.icon-arrow-circle-down::after {
    -webkit-mask-image: url("../icons/arrows/arrow-circle-down.svg");
    mask-image: url("../icons/arrows/arrow-circle-down.svg");
}

.icon-arrow-circle-left::before,
.icon-arrow-circle-left::after {
    -webkit-mask-image: url("../icons/arrows/arrow-circle-left.svg");
    mask-image: url("../icons/arrows/arrow-circle-left.svg");
}

.icon-arrow-circle-right::before,
.icon-arrow-circle-right::after {
    -webkit-mask-image: url("../icons/arrows/arrow-circle-right.svg");
    mask-image: url("../icons/arrows/arrow-circle-right.svg");
}

.icon-arrow-circle-up::before,
.icon-arrow-circle-up::after {
    -webkit-mask-image: url("../icons/arrows/arrow-circle-up.svg");
    mask-image: url("../icons/arrows/arrow-circle-up.svg");
}

.icon-arrow-down::before,
.icon-arrow-down::after {
    -webkit-mask-image: url("../icons/arrows/arrow-down.svg");
    mask-image: url("../icons/arrows/arrow-down.svg");
}

.icon-arrow-left::before,
.icon-arrow-left::after {
    -webkit-mask-image: url("../icons/arrows/arrow-left.svg");
    mask-image: url("../icons/arrows/arrow-left.svg");
}

.icon-arrow-right::before,
.icon-arrow-right::after {
    -webkit-mask-image: url("../icons/arrows/arrow-right.svg");
    mask-image: url("../icons/arrows/arrow-right.svg");
}

.icon-arrow-up::before,
.icon-arrow-up::after {
    -webkit-mask-image: url("../icons/arrows/arrow-up.svg");
    mask-image: url("../icons/arrows/arrow-up.svg");
}

.icon-carret-down::before,
.icon-carret-down::after {
    -webkit-mask-image: url("../icons/arrows/carret-down.svg");
    mask-image: url("../icons/arrows/carret-down.svg");
}

.icon-carret-left::before,
.icon-carret-left::after {
    -webkit-mask-image: url("../icons/arrows/carret-left.svg");
    mask-image: url("../icons/arrows/carret-left.svg");
}

.icon-carret-right::before,
.icon-carret-right::after {
    -webkit-mask-image: url("../icons/arrows/carret-right.svg");
    mask-image: url("../icons/arrows/carret-right.svg");
}

.icon-carret-up::before,
.icon-carret-up::after {
    -webkit-mask-image: url("../icons/arrows/carret-up.svg");
    mask-image: url("../icons/arrows/carret-up.svg");
}

.icon-chevron-down-small::before,
.icon-chevron-down-small::after {
    -webkit-mask-image: url("../icons/arrows/chevron-down-small.svg");
    mask-image: url("../icons/arrows/chevron-down-small.svg");
}

.icon-chevron-down::before,
.icon-chevron-down::after {
    -webkit-mask-image: url("../icons/arrows/chevron-down.svg");
    mask-image: url("../icons/arrows/chevron-down.svg");
}

.icon-chevron-left::before,
.icon-chevron-left::after {
    -webkit-mask-image: url("../icons/arrows/chevron-left.svg");
    mask-image: url("../icons/arrows/chevron-left.svg");
}

.icon-chevron-right::before,
.icon-chevron-right::after {
    -webkit-mask-image: url("../icons/arrows/chevron-right.svg");
    mask-image: url("../icons/arrows/chevron-right.svg");
}

.icon-chevron-up::before,
.icon-chevron-up::after {
    -webkit-mask-image: url("../icons/arrows/chevron-up.svg");
    mask-image: url("../icons/arrows/chevron-up.svg");
}

.icon-redo::before,
.icon-redo::after {
    -webkit-mask-image: url("../icons/arrows/redo.svg");
    mask-image: url("../icons/arrows/redo.svg");
}

.icon-reload::before,
.icon-reload::after {
    -webkit-mask-image: url("../icons/arrows/reload.svg");
    mask-image: url("../icons/arrows/reload.svg");
}

.icon-undo::before,
.icon-undo::after {
    -webkit-mask-image: url("../icons/arrows/undo.svg");
    mask-image: url("../icons/arrows/undo.svg");
}

// Medias Devices
.icon-camera-off::before,
.icon-camera-off::after {
    -webkit-mask-image: url("../icons/medias-devices/camera-off.svg");
    mask-image: url("../icons/medias-devices/camera-off.svg");
}

.icon-camera::before,
.icon-camera::after {
    -webkit-mask-image: url("../icons/medias-devices/camera.svg");
    mask-image: url("../icons/medias-devices/camera.svg");
}

.icon-microphone::before,
.icon-microphone::after {
    -webkit-mask-image: url("../icons/medias-devices/microphone.svg");
    mask-image: url("../icons/medias-devices/microphone.svg");
}

.icon-play-fill::before,
.icon-play-fill::after {
    -webkit-mask-image: url("../icons/medias-devices/play-fill.svg");
    mask-image: url("../icons/medias-devices/play-fill.svg");
}

.icon-play::before,
.icon-play::after {
    -webkit-mask-image: url("../icons/medias-devices/play.svg");
    mask-image: url("../icons/medias-devices/play.svg");
}

.icon-smartphone::before,
.icon-smartphone::after {
    -webkit-mask-image: url("../icons/medias-devices/smartphone.svg");
    mask-image: url("../icons/medias-devices/smartphone.svg");
}

// System
.icon-add::before,
.icon-add::after {
    -webkit-mask-image: url("../icons/system/add.svg");
    mask-image: url("../icons/system/add.svg");
}

.icon-bell::before,
.icon-bell::after {
    -webkit-mask-image: url("../icons/system/bell.svg");
    mask-image: url("../icons/system/bell.svg");
}

.icon-bell-fill::before,
.icon-bell-fill::after {
    -webkit-mask-image: url("../icons/system/bell-fill.svg");
    mask-image: url("../icons/system/bell-fill.svg");
}

.icon-bell-stop::before,
.icon-bell-stop::after {
    -webkit-mask-image: url("../icons/system/bell-stop.svg");
    mask-image: url("../icons/system/bell-stop.svg");
}

.icon-bookmark::before,
.icon-bookmark::after {
    -webkit-mask-image: url("../icons/system/bookmark.svg");
    mask-image: url("../icons/system/bookmark.svg");
}

.icon-check::before,
.icon-check::after {
    -webkit-mask-image: url("../icons/system/check.svg");
    mask-image: url("../icons/system/check.svg");
}

.icon-check-circle::before,
.icon-check-circle::after {
    -webkit-mask-image: url("../icons/system/check-circle.svg");
    mask-image: url("../icons/system/check-circle.svg");
}

.icon-clock::before,
.icon-clock::after {
    -webkit-mask-image: url("../icons/system/clock.svg");
    mask-image: url("../icons/system/clock.svg");
}

.icon-clock-back::before,
.icon-clock-back::after {
    -webkit-mask-image: url("../icons/system/clock-back.svg");
    mask-image: url("../icons/system/clock-back.svg");
}

.icon-cloud-upload::before,
.icon-cloud-upload::after {
    -webkit-mask-image: url("../icons/system/cloud-upload.svg");
    mask-image: url("../icons/system/cloud-upload.svg");
}

.icon-connect::before,
.icon-connect::after {
    -webkit-mask-image: url("../icons/system/connect.svg");
    mask-image: url("../icons/system/connect.svg");
}

.icon-download::before,
.icon-download::after {
    -webkit-mask-image: url("../icons/system/download.svg");
    mask-image: url("../icons/system/download.svg");
}

.icon-external-link::before,
.icon-external-link::after {
    -webkit-mask-image: url("../icons/system/external-link.svg");
    mask-image: url("../icons/system/external-link.svg");
}

.icon-gear::before,
.icon-gear::after {
    -webkit-mask-image: url("../icons/system/gear.svg");
    mask-image: url("../icons/system/gear.svg");
}

.icon-help-circle::before,
.icon-help-circle::after {
    -webkit-mask-image: url("../icons/system/help-circle.svg");
    mask-image: url("../icons/system/help-circle.svg");
}

.icon-hide::before,
.icon-hide::after {
    -webkit-mask-image: url("../icons/system/hide.svg");
    mask-image: url("../icons/system/hide.svg");
}

.icon-info-circle::before,
.icon-info-circle::after {
    -webkit-mask-image: url("../icons/system/info-circle.svg");
    mask-image: url("../icons/system/info-circle.svg");
}

.icon-layers::before,
.icon-layers::after {
    -webkit-mask-image: url("../icons/system/layers.svg");
    mask-image: url("../icons/system/layers.svg");
}

.icon-layers-fav::before,
.icon-layers-fav::after {
    -webkit-mask-image: url("../icons/system/layers-fav.svg");
    mask-image: url("../icons/system/layers-fav.svg");
}

.icon-layers-fav-fill::before,
.icon-layers-fav-fill::after {
    -webkit-mask-image: url("../icons/system/layers-fav-fill.svg");
    mask-image: url("../icons/system/layers-fav-fill.svg");
}

.icon-link::before,
.icon-link::after {
    -webkit-mask-image: url("../icons/system/link.svg");
    mask-image: url("../icons/system/link.svg");
}

.icon-minus::before,
.icon-minus::after {
    -webkit-mask-image: url("../icons/system/minus.svg");
    mask-image: url("../icons/system/minus.svg");
}

.icon-minus-circle::before,
.icon-minus-circle::after {
    -webkit-mask-image: url("../icons/system/minus-circle.svg");
    mask-image: url("../icons/system/minus-circle.svg");
}

.icon-rss::before,
.icon-rss::after {
    -webkit-mask-image: url("../icons/system/rss.svg");
    mask-image: url("../icons/system/rss.svg");
}

.icon-search::before,
.icon-search::after {
    -webkit-mask-image: url("../icons/system/search.svg");
    mask-image: url("../icons/system/search.svg");
}

.icon-search-arrow::before,
.icon-search-arrow::after {
    -webkit-mask-image: url("../icons/system/search-arrow.svg");
    mask-image: url("../icons/system/search-arrow.svg");
}

.icon-share::before,
.icon-share::after {
    -webkit-mask-image: url("../icons/system/share.svg");
    mask-image: url("../icons/system/share.svg");
}

.icon-show::before,
.icon-show::after {
    -webkit-mask-image: url("../icons/system/show.svg");
    mask-image: url("../icons/system/show.svg");
}

.icon-square::before,
.icon-square::after {
    -webkit-mask-image: url("../icons/system/square.svg");
    mask-image: url("../icons/system/square.svg");
}

.icon-tool::before,
.icon-tool::after {
    -webkit-mask-image: url("../icons/system/tool.svg");
    mask-image: url("../icons/system/tool.svg");
}

.icon-trash::before,
.icon-trash::after {
    -webkit-mask-image: url("../icons/system/trash.svg");
    mask-image: url("../icons/system/trash.svg");
}

.icon-waiting::before,
.icon-waiting::after {
    -webkit-mask-image: url("../icons/system/waiting.svg");
    mask-image: url("../icons/system/waiting.svg");
}

.icon-warning::before,
.icon-warning::after {
    -webkit-mask-image: url("../icons/system/warning.svg");
    mask-image: url("../icons/system/warning.svg");
}

.icon-x::before,
.icon-x::after {
    -webkit-mask-image: url("../icons/system/x.svg");
    mask-image: url("../icons/system/x.svg");
}

// Navigation & Layout

.icon-apps::before,
.icon-apps::after {
    -webkit-mask-image: url("../icons/navigation-layout/apps.svg");
    mask-image: url("../icons/navigation-layout/apps.svg");
}

.icon-column-view::before,
.icon-column-view::after {
    -webkit-mask-image: url("../icons/navigation-layout/column-view.svg");
    mask-image: url("../icons/navigation-layout/column-view.svg");
}

.icon-dots-menu-h::before,
.icon-dots-menu-h::after {
    -webkit-mask-image: url("../icons/navigation-layout/dots-menu-h.svg");
    mask-image: url("../icons/navigation-layout/dots-menu-h.svg");
}

.icon-dots-menu-v::before,
.icon-dots-menu-v::after {
    -webkit-mask-image: url("../icons/navigation-layout/dots-menu-v.svg");
    mask-image: url("../icons/navigation-layout/dots-menu-v.svg");
}

.icon-grid-view::before,
.icon-grid-view::after {
    -webkit-mask-image: url("../icons/navigation-layout/grid-view.svg");
    mask-image: url("../icons/navigation-layout/grid-view.svg");
}

.icon-list-view::before,
.icon-list-view::after {
    -webkit-mask-image: url("../icons/navigation-layout/list-view.svg");
    mask-image: url("../icons/navigation-layout/list-view.svg");
}

.icon-list::before,
.icon-list::after {
    -webkit-mask-image: url("../icons/navigation-layout/list.svg");
    mask-image: url("../icons/navigation-layout/list.svg");
}

.icon-menu-burger-text::before,
.icon-menu-burger-text::after {
    -webkit-mask-image: url("../icons/navigation-layout/menu-burger-text.svg");
    mask-image: url("../icons/navigation-layout/menu-burger-text.svg");
}

.icon-menu-burger::before,
.icon-menu-burger::after {
    -webkit-mask-image: url("../icons/navigation-layout/menu-burger.svg");
    mask-image: url("../icons/navigation-layout/menu-burger.svg");
}

.icon-sort::before,
.icon-sort::after {
    -webkit-mask-image: url("../icons/navigation-layout/sort.svg");
    mask-image: url("../icons/navigation-layout/sort.svg");
}

// Communications

.icon-chat-add::before,
.icon-chat-add::after {
    -webkit-mask-image: url("../icons/communications/chat-add.svg");
    mask-image: url("../icons/communications/chat-add.svg");
}

.icon-chat::before,
.icon-chat::after {
    -webkit-mask-image: url("../icons/communications/chat.svg");
    mask-image: url("../icons/communications/chat.svg");
}

.icon-heart-fill::before,
.icon-heart-fill::after {
    -webkit-mask-image: url("../icons/communications/heart-fill.svg");
    mask-image: url("../icons/communications/heart-fill.svg");
}

.icon-heart::before,
.icon-heart::after {
    -webkit-mask-image: url("../icons/communications/heart.svg");
    mask-image: url("../icons/communications/heart.svg");
}

.icon-like-fill::before,
.icon-like-fill::after {
    -webkit-mask-image: url("../icons/communications/like-fill.svg");
    mask-image: url("../icons/communications/like-fill.svg");
}

.icon-like::before,
.icon-like::after {
    -webkit-mask-image: url("../icons/communications/like.svg");
    mask-image: url("../icons/communications/like.svg");
}

.icon-phone-call::before,
.icon-phone-call::after {
    -webkit-mask-image: url("../icons/communications/phone-call.svg");
    mask-image: url("../icons/communications/phone-call.svg");
}

.icon-phone::before,
.icon-phone::after {
    -webkit-mask-image: url("../icons/communications/phone.svg");
    mask-image: url("../icons/communications/phone.svg");
}

.icon-postal::before,
.icon-postal::after {
    -webkit-mask-image: url("../icons/communications/postal.svg");
    mask-image: url("../icons/communications/postal.svg");
}

.icon-star-fill::before,
.icon-star-fill::after {
    -webkit-mask-image: url("../icons/communications/star-fill.svg");
    mask-image: url("../icons/communications/star-fill.svg");
}

.icon-star::before,
.icon-star::after {
    -webkit-mask-image: url("../icons/communications/star.svg");
    mask-image: url("../icons/communications/star.svg");
}

// Brands

.icon-linkedin::before,
.icon-linkedin::after {
    -webkit-mask-image: url("../icons/brands/linkedin.svg");
    mask-image: url("../icons/brands/linkedin.svg");
}

.icon-facebook::before,
.icon-facebook::after {
    -webkit-mask-image: url("../icons/brands/facebook.svg");
    mask-image: url("../icons/brands/facebook.svg");
}

.icon-instagram::before,
.icon-instagram::after {
    -webkit-mask-image: url("../icons/brands/instagram.svg");
    mask-image: url("../icons/brands/instagram.svg");
}

.icon-twitter::before,
.icon-twitter::after {
    -webkit-mask-image: url("../icons/brands/twitter.svg");
    mask-image: url("../icons/brands/twitter.svg");
}

.icon-youtube::before,
.icon-youtube::after {
    -webkit-mask-image: url("../icons/brands/youtube.svg");
    mask-image: url("../icons/brands/youtube.svg");
}

// Office & Editing

.icon-archive::before,
.icon-archive::after {
    -webkit-mask-image: url("../icons/office-editing/archive.svg");
    mask-image: url("../icons/office-editing/archive.svg");
}

.icon-calendar::before,
.icon-calendar::after {
    -webkit-mask-image: url("../icons/office-editing/calendar.svg");
    mask-image: url("../icons/office-editing/calendar.svg");
}

.icon-directory::before,
.icon-directory::after {
    -webkit-mask-image: url("../icons/office-editing/directory.svg");
    mask-image: url("../icons/office-editing/directory.svg");
}

.icon-edit::before,
.icon-edit::after {
    -webkit-mask-image: url("../icons/office-editing/edit.svg");
    mask-image: url("../icons/office-editing/edit.svg");
}

.icon-file-add::before,
.icon-file-add::after {
    -webkit-mask-image: url("../icons/office-editing/file-add.svg");
    mask-image: url("../icons/office-editing/file-add.svg");
}

.icon-file-contract::before,
.icon-file-contract::after {
    -webkit-mask-image: url("../icons/office-editing/file-contract.svg");
    mask-image: url("../icons/office-editing/file-contract.svg");
}

.icon-file-pdf::before,
.icon-file-pdf::after {
    -webkit-mask-image: url("../icons/office-editing/file-pdf.svg");
    mask-image: url("../icons/office-editing/file-pdf.svg");
}

.icon-file::before,
.icon-file::after {
    -webkit-mask-image: url("../icons/office-editing/file.svg");
    mask-image: url("../icons/office-editing/file.svg");
}

.icon-folder-2::before,
.icon-folder-2::after {
    -webkit-mask-image: url("../icons/office-editing/folder-2.svg");
    mask-image: url("../icons/office-editing/folder-2.svg");
}

.icon-folder-add::before,
.icon-folder-add::after {
    -webkit-mask-image: url("../icons/office-editing/folder-add.svg");
    mask-image: url("../icons/office-editing/folder-add.svg");
}

.icon-folder-move::before,
.icon-folder-move::after {
    -webkit-mask-image: url("../icons/office-editing/folder-move.svg");
    mask-image: url("../icons/office-editing/folder-move.svg");
}

.icon-folder-multiple::before,
.icon-folder-multiple::after {
    -webkit-mask-image: url("../icons/office-editing/folder-multiple.svg");
    mask-image: url("../icons/office-editing/folder-multiple.svg");
}

.icon-folder::before,
.icon-folder::after {
    -webkit-mask-image: url("../icons/office-editing/folder.svg");
    mask-image: url("../icons/office-editing/folder.svg");
}

.icon-mail-send::before,
.icon-mail-send::after {
    -webkit-mask-image: url("../icons/office-editing/mail-send.svg");
    mask-image: url("../icons/office-editing/mail-send.svg");
}

.icon-mail::before,
.icon-mail::after {
    -webkit-mask-image: url("../icons/office-editing/mail.svg");
    mask-image: url("../icons/office-editing/mail.svg");
}

.icon-print::before,
.icon-print::after {
    -webkit-mask-image: url("../icons/office-editing/print.svg");
    mask-image: url("../icons/office-editing/print.svg");
}

.icon-quote::before,
.icon-quote::after {
    -webkit-mask-image: url("../icons/office-editing/quote.svg");
    mask-image: url("../icons/office-editing/quote.svg");
}

// Map
.icon-map::before,
.icon-map::after {
    -webkit-mask-image: url("../icons/map/map.svg");
    mask-image: url("../icons/map/map.svg");
}

.icon-3d::before,
.icon-3d::after {
    -webkit-mask-image: url("../icons/map/3d.svg");
    mask-image: url("../icons/map/3d.svg");
}

.icon-compass::before,
.icon-compass::after {
    -webkit-mask-image: url("../icons/map/compass.svg");
    mask-image: url("../icons/map/compass.svg");
}

.icon-map-pin::before,
.icon-map-pin::after {
    -webkit-mask-image: url("../icons/map/map-pin.svg");
    mask-image: url("../icons/map/map-pin.svg");
}

// People & Users

.icon-person-caretaker::before,
.icon-person-caretaker::after {
    -webkit-mask-image: url("../icons/people-users/person-caretaker.svg");
    mask-image: url("../icons/people-users/person-caretaker.svg");
}

.icon-meeting::before,
.icon-meeting::after {
    -webkit-mask-image: url("../icons/people-users/meeting.svg");
    mask-image: url("../icons/people-users/meeting.svg");
}

.icon-person-handicap::before,
.icon-person-handicap::after {
    -webkit-mask-image: url("../icons/people-users/person-handicap.svg");
    mask-image: url("../icons/people-users/person-handicap.svg");
}

.icon-person-walk::before,
.icon-person-walk::after {
    -webkit-mask-image: url("../icons/people-users/person-walk.svg");
    mask-image: url("../icons/people-users/person-walk.svg");
}

.icon-user-change::before,
.icon-user-change::after {
    -webkit-mask-image: url("../icons/people-users/user-change.svg");
    mask-image: url("../icons/people-users/user-change.svg");
}

.icon-user::before,
.icon-user::after {
    -webkit-mask-image: url("../icons/people-users/user.svg");
    mask-image: url("../icons/people-users/user.svg");
}

// Buildingn Residence & Service

.icon-balcony::before,
.icon-balcony::after {
    -webkit-mask-image: url("../icons/building-residence-service/balcony.svg");
    mask-image: url("../icons/building-residence-service/balcony.svg");
}

.icon-bike::before,
.icon-bike::after {
    -webkit-mask-image: url("../icons/building-residence-service/bike.svg");
    mask-image: url("../icons/building-residence-service/bike.svg");
}

.icon-building::before,
.icon-building::after {
    -webkit-mask-image: url("../icons/building-residence-service/building.svg");
    mask-image: url("../icons/building-residence-service/building.svg");
}

.icon-burger::before,
.icon-burger::after {
    -webkit-mask-image: url("../icons/building-residence-service/burger.svg");
    mask-image: url("../icons/building-residence-service/burger.svg");
}

.icon-bus::before,
.icon-bus::after {
    -webkit-mask-image: url("../icons/building-residence-service/bus.svg");
    mask-image: url("../icons/building-residence-service/bus.svg");
}

.icon-car::before,
.icon-car::after {
    -webkit-mask-image: url("../icons/building-residence-service/car.svg");
    mask-image: url("../icons/building-residence-service/car.svg");
}

.icon-cave::before,
.icon-cave::after {
    -webkit-mask-image: url("../icons/building-residence-service/cave.svg");
    mask-image: url("../icons/building-residence-service/cave.svg");
}

.icon-concierge-bell::before,
.icon-concierge-bell::after {
    -webkit-mask-image: url("../icons/building-residence-service/concierge-bell.svg");
    mask-image: url("../icons/building-residence-service/concierge-bell.svg");
}

.icon-cone::before,
.icon-cone::after {
    -webkit-mask-image: url("../icons/building-residence-service/cone.svg");
    mask-image: url("../icons/building-residence-service/cone.svg");
}

.icon-digicode::before,
.icon-digicode::after {
    -webkit-mask-image: url("../icons/building-residence-service/digicode.svg");
    mask-image: url("../icons/building-residence-service/digicode.svg");
}

.icon-elevator::before,
.icon-elevator::after {
    -webkit-mask-image: url("../icons/building-residence-service/elevator.svg");
    mask-image: url("../icons/building-residence-service/elevator.svg");
}

.icon-flower::before,
.icon-flower::after {
    -webkit-mask-image: url("../icons/building-residence-service/flower.svg");
    mask-image: url("../icons/building-residence-service/flower.svg");
}

.icon-house::before,
.icon-house::after {
    -webkit-mask-image: url("../icons/building-residence-service/house.svg");
    mask-image: url("../icons/building-residence-service/house.svg");
}

.icon-kitchen::before,
.icon-kitchen::after {
    -webkit-mask-image: url("../icons/building-residence-service/kitchen.svg");
    mask-image: url("../icons/building-residence-service/kitchen.svg");
}

.icon-parking::before,
.icon-parking::after {
    -webkit-mask-image: url("../icons/building-residence-service/parking.svg");
    mask-image: url("../icons/building-residence-service/parking.svg");
}

.icon-pool::before,
.icon-pool::after {
    -webkit-mask-image: url("../icons/building-residence-service/pool.svg");
    mask-image: url("../icons/building-residence-service/pool.svg");
}

.icon-school-student::before,
.icon-school-student::after {
    -webkit-mask-image: url("../icons/building-residence-service/school-student.svg");
    mask-image: url("../icons/building-residence-service/school-student.svg");
}

.icon-shopping-cart::before,
.icon-shopping-cart::after {
    -webkit-mask-image: url("../icons/building-residence-service/shopping-cart.svg");
    mask-image: url("../icons/building-residence-service/shopping-cart.svg");
}

.icon-shutters::before,
.icon-shutters::after {
    -webkit-mask-image: url("../icons/building-residence-service/shutters.svg");
    mask-image: url("../icons/building-residence-service/shutters.svg");
}

.icon-sofa::before,
.icon-sofa::after {
    -webkit-mask-image: url("../icons/building-residence-service/sofa.svg");
    mask-image: url("../icons/building-residence-service/sofa.svg");
}

.icon-stroller::before,
.icon-stroller::after {
    -webkit-mask-image: url("../icons/building-residence-service/stroller.svg");
    mask-image: url("../icons/building-residence-service/stroller.svg");
}

.icon-thermometer::before,
.icon-thermometer::after {
    -webkit-mask-image: url("../icons/building-residence-service/thermometer.svg");
    mask-image: url("../icons/building-residence-service/thermometer.svg");
}

.icon-trees::before,
.icon-trees::after {
    -webkit-mask-image: url("../icons/building-residence-service/trees.svg");
    mask-image: url("../icons/building-residence-service/trees.svg");
}

.icon-visiophone::before,
.icon-visiophone::after {
    -webkit-mask-image: url("../icons/building-residence-service/visiophone.svg");
    mask-image: url("../icons/building-residence-service/visiophone.svg");
}

.icon-window-glace::before,
.icon-window-glace::after {
    -webkit-mask-image: url("../icons/building-residence-service/window-glace.svg");
    mask-image: url("../icons/building-residence-service/window-glace.svg");
}

// Finance & security

.icon-creditcard::before,
.icon-creditcard::after {
    -webkit-mask-image: url("../icons/finance-security/creditcard.svg");
    mask-image: url("../icons/finance-security/creditcard.svg");
}

.icon-euro::before,
.icon-euro::after {
    -webkit-mask-image: url("../icons/finance-security/euro.svg");
    mask-image: url("../icons/finance-security/euro.svg");
}

.icon-lock::before,
.icon-lock::after {
    -webkit-mask-image: url("../icons/finance-security/lock.svg");
    mask-image: url("../icons/finance-security/lock.svg");
}
